*.png binary -merge
*.jpg binary -merge
*.jpeg binary -merge
*.webp binary -merge
*.gif binary -merge
*.ico binary -merge
*.pdf binary -merge
*.zip binary -merge
*.mp4 binary -merge
*.mp3 binary -merge
*.mov binary -merge
*.avi binary -merge
*.woff binary -merge
*.woff2 binary -merge
*.ttf binary -merge
*.otf binary -merge
